html {
    box-sizing: border-box;
    font-size: 62.5%;
}

    *, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 1.6rem;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    margin: 10rem 5rem;
    padding: 2rem;
    border-radius: 2rem;
    max-width: 48rem;
}

.container__qr {
    max-width: 100%;
    border-radius: 1.5rem;
}

.container__text {
    display: flex;
    flex-direction: column;
    padding: auto 1.5rem;
    justify-content: center;
    align-items: center;
}

.container__text--title,
.container__text--paragraphs {
    text-align: center;
}

.container__text--title {
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.container__text--paragraphs {
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media (min-width: 596px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .container {
        margin: 10rem auto;
    }
}
